nav{
    text-align: center;
    margin: 0;
    padding: 0;
}
*{background-color: teal;
}
h1{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
div p{
    color: white;
}
h1 

